
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    background-color: blue;
        overflow: hidden;

    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
h1{
    color: white;
    font-family: "Poppins";
    font-size: 24px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}
.container{
    width: fit-content;
    background-color: white;
    padding: 3rem;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: -2;
}
.container-title{
    color: black;
    font-size: 24px;
    font-family: "Poppins";
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;
    display: flex;
}
  
.container-input{
    font-size: 20px;   
     border: 2px  solid orangered;
    padding: 5px;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 2px;
    font-family: "Poppins";
}
.container-btn-submit{
    border:none;
    background-color:orangered;
    padding: 4%;
    border-radius: 4px;
    color: white;
    font-family: "Poppins";
}
.container-input-field{
    display: flex;
    gap: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container-info{
    font-family: "Poppins";
    color: gray;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 15px;
}
.task{
    display: flex;
    justify-content: space-between;
    background-color: rgb(249, 127, 255);
    padding: 0.7rem;
    border-radius: 8px;
    font-family: "Poppins";
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-weight: 700;
    color: white;
    gap: 1rem;

}
.underlined{
    text-decoration: line-through;
    color: gray;
}
.task-update{
    align-self: center;

}
.task-remove{
    align-self: center;
    
   
}
.action{
    align-self: center;
    gap:1rem;
}
.container-tasks{
    display:flex;
    flex-direction: column-reverse;
    gap: 1rem;
    margin-top: 2rem;
    overflow-y: scroll;
    max-height: 350px;

}


.new--note{
    min-width:-webkit-fill-available;
    border-radius: 5px;
}
.selection{
    margin-top: 2rem;
    min-width:-webkit-fill-available;
    font-size: 20px;   
    border: 2px  solid orangered;
   padding: 5px;
   width: auto;
   text-overflow: ellipsis;
   white-space: nowrap;
   border-radius: 2px;
   font-family: "Poppins";
}
.new-field--btnz{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}
.hide{
    display: none;
}
.pending--pop-up{
    z-index: 2;
    width: 500px;
    max-height: 500px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    background-color: white;
    padding: 0.3rem;
    border-radius: 8px;
    overflow-y: scroll;
    flex-direction: column;
    gap: 0.3rem;
    position: relative;
    z-index: 1;
    transform: translate(1%,-140%);
}
.pop{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 3rem;
}
.done{

    margin-right: 9rem;

}
.container-tasks-pending{
    display:flex;
    flex-direction: column;
    gap: 0.3rem;
    overflow-y: scroll;

}

.black{

    background-color: rgba(83, 83, 83, 0.344);
    width: 400vh;
    position: sticky;
    height: 200vh;
    margin-top: -150vh;
    z-index: 0;
}
.pop-pends{
    cursor: pointer;
}
.pop-comps{
    cursor: pointer;
}
.display{
    cursor: pointer;
}